WEBID=https://pod.example.com/profile/card#me
ISSUER=https://pod.example.com
WHITELISTED_ISSUERS=https://solidcommunity.net,https://pod.example.com
WEBHOOK_CONFIG_URL=https://pod.example.com/settings/webhooks.ttl
HANDLER_BASE_URL=https://pod.example.com/settings/webhooks.ttl#
WEBHOOK_ENDPOINT=/webhook
PORT=8081
SEND_TO_URL=https://pod.example.com/webhook/